{:paths ["src/clj" "src/cljs" "resources"]

 :deps {org.clojure/clojure       {:mvn/version "1.9.0"}
        org.clojure/clojurescript {:mvn/version "1.10.439"}
        org.clojure/java.jdbc     {:mvn/version "0.7.8"}
        org.xerial/sqlite-jdbc    {:mvn/version "3.23.1"}
        ring                      {:mvn/version "1.7.1"}
        ring/ring-defaults        {:mvn/version "0.3.2"}
        prone                     {:mvn/version "1.6.1"}
        compojure                 {:mvn/version "1.6.1"}
        hiccup                    {:mvn/version "1.0.5"}
        reagent                   {:mvn/version "0.8.1"}

        org.clojure/tools.nrepl {:mvn/version "0.2.13"}
        cider/cider-nrepl       {:mvn/version "0.17.0"}
        com.cemerick/piggieback {:mvn/version "0.2.2"}
        figwheel-sidecar        {:mvn/version "0.5.14"}}

 :aliases {:run        {:main-opts ["-m" "my-project.server"]}
           :cljsbuild  {:main-opts ["-m" "cljs.main" "-co" "cljsbuild.edn" "-c"]}
           :figwheel   {:extra-deps {org.clojure/tools.nrepl {:mvn/version "0.2.13"}
                                     cider/cider-nrepl       {:mvn/version "0.17.0"}
                                     com.cemerick/piggieback {:mvn/version "0.2.2"}
                                     figwheel-sidecar        {:mvn/version "0.5.14"}}
                        :main-opts ["-e" "(use,'figwheel-sidecar.repl-api),(start-figwheel!)"]}}}
